<!-- <ng-container *ngIf="movie$ | async as movie" [translucent]="true" searchId="searchMovie" contentId="search-movies"> -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-searchbar>
        </ion-searchbar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
<!--     <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->
 
  </ion-content>
<!-- </ng-container> -->

