<ion-header no-border >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar line="none" show-clear-button="focus" [(ngModel)]="searchText" (ionInput)="buscarPeliculas(searchText, '')"></ion-searchbar> 
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="!loading ">  
    <ion-card >
      <ion-card-content>
        <ion-list>
          <ion-item [button]="true" *ngFor="let movie of movieSearch | async">
            <ion-thumbnail slot="start">
              <img alt="{{movie.title}}" [src]="movie.imageUrl" />
            </ion-thumbnail>
            <ion-label >
              <h3>{{movie.title | uppercase}}</h3>
              <p>genero{{movie.genres}}</p>
            </ion-label> 
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> 
  </div>
  <div *ngIf= "loading">
 no dta
  </div> 
 
</ion-content> 

