<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="routeTabs.Settings">
      <ion-icon aria-hidden="true" name="settings-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [tab]="routeTabs.Movies">
      <ion-icon aria-hidden="true" name="film-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [tab]="routeTabs.Notifications">
      <ion-icon aria-hidden="true" name="notifications-outline" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>