<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <movies-list></movies-list>
</ion-content>
