<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="ion-no-padding">
    <ion-item>
      <ion-icon class="notifications" name="notifications-outline" slot="start"></ion-icon>
      <ion-select label="Notificaciones">
        <ion-select-option value="week">Cada 7 días</ion-select-option>
        <ion-select-option value="fortnicht">Cada 15 días </ion-select-option>
        <ion-select-option value="month">1 vez por mes</ion-select-option>
        <ion-select-option value="month">Nunca</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="film-outline" slot="start"></ion-icon>
      <ion-select label="Cines" [multiple]="true" [interfaceOptions]="selectConfiguration('Cines')">
        <ion-select-option value="Hoyts">Hoyts Abasto</ion-select-option>
        <ion-select-option value="Cinemark">Cinemark Palermo </ion-select-option>
        <ion-select-option value="Multiplex">Multiplex La Valle</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="ticket-outline" slot="start"></ion-icon>
      <ion-select label="Género" [multiple]="true" [interfaceOptions]="selectConfiguration('Géneros')">
        <ion-select-option value="action">Accion</ion-select-option>
        <ion-select-option value="drama">Drama</ion-select-option>
        <ion-select-option value="Romance">Romance</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="contrast-outline" slot="start"></ion-icon>
      <ion-toggle [checked]="darkMode" (ionChange)="toggleTheme()" >Dark mode</ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>