
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon color="primary" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Filtros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="film-outline" slot="start"></ion-icon>
      <ion-select [(ngModel)]="selectTheaters" label="Cines" placeholder="Seleccionar" [multiple]="true">
        <ion-select-option *ngFor="let t of theaters" [value]="t.id">
          {{ t.description}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="ticket-outline" slot="start"></ion-icon>
      <ion-select [(ngModel)]="selectGenres" label="Géneros" placeholder="Seleccionar" [multiple]="true">
        <ion-select-option *ngFor="let g of genres" [value]="g.id">
          {{ g.description }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button  (click)="confirmChanges()" fill="clear">
        Aplicar Filtros
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button  (click)="clearGenresFilters()" fill="clear">
        borrar filtros
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-footer>