<ng-container *ngIf="movie$ | async as movie">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <img class="imgMovie" alt="{{movie.title}}" [src]="movie.imageUrl"/> 
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-wrap">
            <h2>{{movie.title | uppercase}}</h2>
            <div class="durationMovie">
              <p> DURACIÓN <br> 
                {{movie.duration}} minutos
              </p>

            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="ion-text-justify">
          <h3> GÉNEROS </h3>
          <p> {{getGenres(movie.genres)}} </p>
        </div>
      </ion-row>
      <ion-row>
        <div class="ion-text-justify">
          <h3> DESCRIPCIÓN  </h3>
          <p>{{movie.description}}</p>
        </div> 
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>
 