<ng-container *ngIf="movie$ | async as movie">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <img class="imgMovie" alt="{{movie.title}}" [src]="movie.imageUrl"/> 
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-wrap"> <!-- otra opc: ion-text-center -->
            <h2>{{movie.title | uppercase}}</h2>
            <div class="durationMovie">
              <p> DURACIÓN <br> 
                {{movie.duration}} minutos
              </p>

            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div class="ion-text-justify">
          <h3> GENEROS </h3>
          <p> {{getGenres(movie.genres)}} </p>
        </div>
      </ion-row>
      <ion-row>
        <div class="ion-text-justify">
          <h3> DESCRIPCION  </h3>
          <p>{{movie.description}}</p>
        </div> 
      </ion-row>
    </ion-grid>
      <!-- <div class="theaters">
    <ion-accordion-group *ngFor="let showtime of movie.showtimes">
      <ion-accordion value="first">  n veces segun la cant de funciones 
        <ion-item slot="header" color="light">
          <ion-label>{{showtime}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-card> n card segun a n cines
            <ion-card-header> 
              <ion-card-subtitle>CINE</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-chip>horario</ion-chip> repite n veces segun la cant de funciones en el dia en ese cine
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div> -->
  </ion-content>
</ng-container>
 <!--    <div class="movie">
   
      <ion-item lines="none">
        <img class="imgMovie" alt="{{movie.title}}" [src]="movie.imageUrl"/> 
       <ion-label slot="end">
          <h1>{{movie.title | uppercase}}</h1>
          <br>
          <p>DURACION</p>
          <p>{{movie.duration}} minutos</p>
        </ion-label> 
      </ion-item>
    </div>
  
  <div class="Genre">
    GENEROS
    <br>
    {{getGenres(movie.genres)}}
  </div>

  <div class="description">
    DESCRIPCION
    <br>
    {{movie.description}}
  </div> -->