
.Genre{
    color: #8E8E93;
    display: flex;
    width: auto;
    height: auto;
    padding: 5%;
    align-items: center;
}
.description{
    color: #8E8E93;
    display: flex;
    width: auto;
    height: auto;
    padding: 5%;
}