ion-card-header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ion-list{
    background-color: transparent;
}

ion-item-sliding{
    background-color: transparent;
}

ion-item::part(native) {
    background-color: transparent;
}

ion-item{
    --border-color: transparent;
}

ion-item-options{
   align-items: center;
}

ion-item-option{
    height: 80%;
}